/* Cor de fundo */
body {
  background-color: #ff6cc2;
  font-family: Arial, sans-serif;

  /* Centralização */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

input {
  padding: 8px;
  margin: 10px;
  width: 80px;
}

button {
  padding: 8px 15px;
  cursor: pointer;
  flex-direction: center;
}